body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 2rem;
    align-items: center;
}

input {
    background-color: #1c1c1c;
    border: 0.12rem solid rgb(77, 77, 77);
    border-radius: 10px;
    height: 30px;
    width: 300px;
    color: #fff;
    padding: 0.3rem 1.2rem;
    left: 1000px;
}

input:focus {
    border: 0.12rem solid rgb(195, 195, 195);
    outline: none;
}

.fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}

label {
    font-weight: bold;
    font-size: large;
}

button {
    margin-top: 2rem;
    height: 2.3rem;
    width: 4rem;
    border-radius: 1.5rem;
    background-color: #fff;
    border: none;
    font-weight: 900;
}

button:hover {
    background-color: #d7d7d7;
}

button:disabled {
    color: #ffffff4d;
    background-color: #8c8c8c40;
}

.message {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    display: none;
    margin-top: 0.3rem;
    margin-left: 1.4rem;
}

.error {
    border: 0.12rem solid #f00;
}

.error:focus {
    border: 0.12rem solid #f00;
}